<!-- <canvas #canvas1></canvas>


<div class="mobile-controls d-flex justify-content-around">
  <button class="btn btn-warning btn-block" id="moveUp">Parriba</button>
  <button class="btn btn-warning btn-block" id="moveDown">Pabajo</button>
  <button class="btn btn-danger btn-block" id="shoot">Pum</button>
</div> -->

<!-- <div class="mobile-controls d-flex justify-content-around">
  <button class="btn btn-warning btn-block" id="moveUp">Parriba</button>
  <button class="btn btn-warning btn-block" id="moveDown">Pabajo</button>
  <button class="btn btn-danger btn-block" id="shoot">Pum</button>

    <button type="button" class="btn btn-outline-warning btn-block" id="moveUp">Parriba</button>
  <button type="button" class="btn btn-outline-warning btn-block" id="moveDown">Pabajo</button>
  <button type="button" class="btn btn-outline-danger btn-block" id="shoot">Cata - Pum ¡¡</button>
</div>
<canvas #canvas1></canvas> -->

<div class="game-container">
  <canvas #canvas1></canvas>
  <div class="mobile-controls">
    <div class="vertical-buttons">
      <button class="btn btn-warning" id="moveUp">moveUp</button>
      <button class="btn btn-warning" id="moveDown">moveDown</button>
    </div>
    <button class="btn btn-danger" id="shoot">shoot</button>
  </div>
</div>