<!-- <canvas #canvas1></canvas>


<div class="mobile-controls d-flex justify-content-around">
  <button class="btn btn-warning btn-block" id="moveUp">Parriba</button>
  <button class="btn btn-warning btn-block" id="moveDown">Pabajo</button>
  <button class="btn btn-danger btn-block" id="shoot">Pum</button>
</div> -->

<div class="mobile-controls d-flex justify-content-around">
  <button class="btn btn-warning btn-block" id="moveUp">Parriba</button>
  <button class="btn btn-warning btn-block" id="moveDown">Pabajo</button>
  <button class="btn btn-danger btn-block" id="shoot">Pum</button>
</div>
<canvas #canvas1></canvas>