<!-- <div div class="d-flex">
  <app-sidebar></app-sidebar>
  <app-game></app-game>
  <app-home class="flex-fill"></app-home>
</div> -->

<!-- //VESIÓN CON LA APARICIÓN DE LOS GIFS -->
<!-- app.component.html -->
<!-- <div class="game-container">
    <app-game (valueChange)="childValue = $event"></app-game>
  <app-home *ngIf="childValue"></app-home>
  <app-game-udemy></app-game-udemy>
</div> -->


<!-- Botones para control móvil -->
<div class="game-container">
  <app-game-udemy></app-game-udemy>

  <!-- Botones para control móvil -->

</div>