.mobile-controls button {
  -webkit-tap-highlight-color: transparent;
  /* Deshabilita el resaltado al tocar en iOS y navegadores antiguos */
  -webkit-touch-callout: none;
  /* Deshabilita el menú de llamada en iOS */
  -webkit-user-select: none;
  /* Deshabilita la selección de texto en Safari */
  user-select: none;
  /* Deshabilita la selección de texto en navegadores estándar */
  touch-action: manipulation;
  /* Optimiza los eventos táctiles */
}